.place__image-container{
    overflow:hidden;
    width: 100%;
    height: 100%;
    grid-row: 1/-1;
    display:flex;
    justify-content: center;
    object-fit: cover;
}

.place:nth-child(2) .place__image{
    grid-column: 2/3;
    grid-row: 1/-1;
}