.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 60px*2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
}