.intro{
   /* align-self: start; */
   box-sizing: border-box;
    margin:0;
    /* width: calc(100% - 60px*2); */
   /* max-width:845px; */
   width: 100%;
    /* width: calc(100% - 60px*2); */
    display:grid;
    /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
    grid-template-columns: 1fr 290px;
    /* grid-template-columns:repeat(2, 1fr); */
    /* grid-template-rows: repeat(auto-fit, minmax(120px, 1fr)); */
    /* grid-template-rows: repeat(auto-fit, minmax(120px, 1fr)); */
    grid-template-rows: repeat(2, 145px);
    padding: 0 160px 0 60px;
    grid-column-gap:30px;
}

@media  screen and (max-width:984px) {
    .intro{
        grid-column-gap:5px;
        padding-right: 50px;
    }
}