.place__image{
     width: 100%;
     grid-column: 1/2;
    grid-row: 1/-1;
    object-fit: cover;    
}

.place:last-child .place__image{
    max-width: max-content;
    width:auto;
    max-height: 100%;
    object-fit: cover;
    object-position: center center;
    justify-self: center; 
    align-self: center;
}



