.intro__image{
    /* height: 280px; */
    /* width: 280px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    box-sizing: border-box;
    grid-column: 2/3;
    grid-row:1/3;
    align-items: center;
    justify-self: center;
}